$sider-fill: #001529;
$color-primary: #108ee9;
$color-primary-1: #e6f7ff;

$border-radius-base     : 4px;
$border-radius-sm       : 2px;

// Avatar
$avatar-size-base: 32px;
$avatar-size-lg: 40px;
$avatar-size-sm: 24px;
$avatar-font-size-base: 18px;
$avatar-font-size-lg: 24px;
$avatar-font-size-sm: 14px;
$avatar-bg: #ccc;
$avatar-color: #fff;
$avatar-border-radius: $border-radius-base;
